@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: white;
  color: #C8232C;
  text-align: center;
}

#app {
  margin-top: 3em;
}